#content {padding-top:35px;}

h2  { 
    color:black;
    text-align: center;
    color:#152A3D ;
    font-size: 3em;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #152A3D ;} 

#mainlist {list-style-type:none;
    font-size: 1.8em;}

#content a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
  }
  

h3 {text-align: center;}


#hover a:hover {background-color: gray;
    }
#hover a {text-decoration: none;}
#hover ul {list-style-type: none;
    text-align: auto;
    columns: 3;
    font-size: 17px;}

button {color: black;
    border: 2px solid rgb(19, 17, 121);
    font-size: 20px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    width: 250px;
    background-color: #15648B; }
button:hover {background-color: linear-gradient(57deg, #00c6a7, #1e4d92);}