#fullnav{
	width: 80%;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	top: 0;
	left: 10%;
	background-color: #c3cce8;
	height: 72px;
	z-index: 1000;
}

.name {color: #000033;
    font-size: 1.2em;}

footer a{
	color:white;
}
footer a:hover{
	color:goldenrod;
}
section {
    display: flex;
}
.leftside{
    width:100%; 
    height: auto;
    overflow:hidden;
    margin-top: 20px;
}

.leftside img{
    width:auto;
    height:auto;

}
.rightside{
    width: 55%; 
    height:300px; 
    color:black;
    text-align: center;
    margin-top:10px;
    padding:40px;
}
.rightside h2{
    font-size:50px;
    font-weight: 900;
    text-transform: uppercase;
}
.rightside p{
    font-size: 1.1rem;
    padding:30px 0;
}
 .button{
    font-size: 23px;
    font-weight: bold;
    color:black; 
    text-transform: uppercase;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
    border-radius: 4px;
    padding-top:25px 40px;

}
 button:hover{
    background: linear-gradient(57deg,#1e4d92, #00c6a7);
}

nav{
	height: 100%;  
	width: 100% - 210px;

	text-align: center;
	background-color: #152A3D;

	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: bolder;

	margin-left: 210px;

	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

#logo {
    width: 200px; 
    margin: 0;
    padding: 0;  
    float: left;
}

.clear {
	clear: both;
}  

      
nav li {
	float: left;
	list-style-type: none;
	padding: 0;

	width: 140px;
	height: 100%;

	border-right: 2px solid lightgray;
}
   

nav li a {
	color: white;
	text-align: center;
	height: 72px;
	line-height: 72px;
	width: 100%;

	display: inline-block;
}

nav li a:hover {
	background-color: #7d9dff;
	color: white;
}


.active{
      background-color: #15648B;
}



.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
.fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-instagram {
	background: #125688;
	color: white;
  }
  .fa-youtube {
	background: #bb0000;
	color: white;
  }

#footer {
	background-color: #152A3D ;
	color:white;
	
}
#center{
    width: 655px;
    margin: auto;
}
#footercenter{
	width:655px;
	margin-left:1000;
}


@media only screen and (max-width: 900px) {
	

	#logo{
		height: 45px;
	}
	
	nav{
		font-size: 12px;
		height: 45px;
		margin-left: 140px;
	}
	
	nav li {
		width: 80px;
		height: 45px;
	}
	
	nav li a {
		height: 45px;
      	line-height: 45px;
	}
	
	.container{
		margin-top: 45px;
    }
    
    footer{max-width:100%;}
    #center{margin:auto;}
}




@media only screen and (max-width: 1030px) {
	
	#fullnav{
		height: 50px;
		margin-left: 0px;
		width: 100%;
		max-width: 100%;
		left: 0%;
    }
    

	
	#logo{
		height: 50px;
		width: auto;
	}
	
	nav{
		font-size: 20px;
		height: 50px;
		margin-left: 170px;
	}
	
	nav li {
		width: 125px;
		height: 50px;
	}
	
	nav li a {
		height: 50px;
      	line-height: 50px;
	}
	
	.container{
		margin-top: 50px;
		max-width: 100%
    }
    
    footer{max-width:100%;
    margin:auto;}
    #center{margin:auto;
    display:inline-flex;}
 
}


