.main{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    text-align: center;
}

.container{
    margin-top: 72px;
    background-color: white;
    max-width: 80%;

    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

.caption{
	font-size: 30px;
}

body{
    background-color: #F8F7F2;
}

body p {font-size:25px;
    font:'Roboto';
    }

#bannerimg{
    min-width: 520px;
	max-width: 55%;
	border: 5px solid darkblue;
	border-radius: 25px;
}

.galleryimg{
	border-radius: 25px;
}

.odd{
	background-color: aliceblue;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.galleryimg{
	object-fit: scale-down;
	width: auto;
    height: 500px;
}


footer {
    background-color: linear-gradient(57deg, #00c6a7, #1e4d92);
}

#address {float:left; 
    margin-left: 40px; 
    margin-bottom: 40px;
}
#hours {float:right;
     margin-right:40px;
     margin-bottom: 40px}
#mid {
    margin-left: auto;
            margin-right: auto;
            width: 150;
            height: 70;
}

#links{ color: darkblue
}