.main {
  font-family: 'Roboto', Verdana, Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}

.container {
  margin-top: 72px;
  background-color: white;
  max-width: 80%;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

body p {
  font-size: 25px;
  line-height: 1.7em;
  font-family: 'Roboto', Verdana, Arial, sans-serif;
}

#mainimg {
  max-width: 70%;
  margin-bottom: 4vh;
  border: 2px solid black;
  box-shadow: 5px 5px lightblue;
}

.name {
  color: blue;
  font-size: 1.02em;
}

h1{
	color: darkblue;
}

button {
  width: 350px;
  font-size: 26px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: lightsteelblue;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

button:hover {
  background-color: #555555;;
  color: white;
  text-decoration: underline;
}
