#fullnav{
      width: 80%;
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      position: fixed;
      top: 0;
      left: 10%;
      background-color: #c3cce8;
      height: 72px;
      z-index: 1000;
}

nav{
    height: 100%;  
    width: 100% - 210px;

    text-align: center;
    background-color: #152A3D;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;

    margin-left: 210px;

    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
} 

#logo {
    width: 200px; 
    margin: 0;
    padding: 0;  
    float: left;
}

.clear {
      clear: both;
}  

      
li {
      float: left;
      list-style-type: none;
      padding: 0;

      width: 150px;
      height: 100%;
      
      border-right: 2px solid lightgray;
}
   

li a {
      color: white;
      text-align: center;
      height: 72px;
      line-height: 72px;
      width: 100%;
      
      display: inline-block;
}

li a:hover {
      background-color: #7d9dff;
      color: white;
}


.active{
      background-color: #15648B;
}